<md-card class="tomatito-card card-margin">
  <md-card-content>

    <div *ngIf="!authService.authenticated" class="private-section center">
      <md-icon>lock</md-icon> {{ 'AUTH.LOGIN_WARNING' | translate }}
    </div>

    <div *ngIf="authService.authenticated">
      <div *ngIf="_loading">
        <md-spinner class="center"></md-spinner>
      </div>

      <div *ngIf="!_loading">
        <div class="Rtable Rtable--3cols Rtable--collapse">
          <div class="Rtable-row row-head">
            <div class="Rtable-cell center-cell">{{ 'HISTORY.START_DATE' | translate }}</div>
            <div class="Rtable-cell center-cell">{{ 'HISTORY.END_DATE' | translate }}</div>
            <div class="Rtable-cell center-cell">{{ 'HISTORY.TIMER_TYPE' | translate }}</div>
          </div>

          <div class="Rtable-row row-divider" *ngFor="let pomodoro of _pomodoros">
            <div class="Rtable-cell center-cell">{{ pomodoro.startDate | date:'shortTime' }}</div>
            <div class="Rtable-cell center-cell">{{ pomodoro.endDate | date:'shortTime' }}</div>
            <div class="Rtable-cell Rtable-cell--foot center-cell"><strong>{{ 'TIMER_TYPES.'+pomodoro.type | translate }}</strong></div>
          </div>
        </div>
      </div>
    </div>

  </md-card-content>
  <md-card-actions class="center">
    Previous | Next
  </md-card-actions>
</md-card>
