<header>
  <md-toolbar color="primary">
    <span>Tomatito</span>

    <span class="space-filler"></span>

    <tomatito-language-picker></tomatito-language-picker>

    <tomatito-login></tomatito-login>

    <md-toolbar-row>
      <span class="space-filler"></span>
      <nav>
        <a md-button routerLink="/timers" routerLinkActive="active">{{ 'NAVBAR.TIMERS' | translate }}</a>
        <a md-button routerLink="/history">{{ 'NAVBAR.HISTORY' | translate }}</a>
        <a md-button routerLink="/about">{{ 'NAVBAR.ABOUT' | translate }}</a>
      </nav>
    </md-toolbar-row>

  </md-toolbar>
</header>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
