<header>
  <md-toolbar color="primary">
    <span>Tomatito</span>
    <div> {{ (angularFire.auth | async)?.providerData.displayName }} </div>
    <button (click)="login()">Login</button>
    <button (click)="logout()">Logout</button>

    <md-toolbar-row>
      <span class="space-filler"></span>
      <nav>
        <a md-button routerLink="/timers" routerLinkActive="active">Timers</a>
        <a md-button routerLink="/history">History</a>
        <a md-button routerLink="/asdffdas">About pomodoro</a>
      </nav>
    </md-toolbar-row>

  </md-toolbar>
</header>

<div class="app-content">
  <router-outlet></router-outlet>
</div>
