<md-card class="tomatito-card">
  <md-card-content>
    <div class="timer">
      {{ _remainingTimeFormatted }}
    </div>
  </md-card-content>
  <md-card-actions class="center">
    <button md-button class="center" (click)="startTimer()">{{ 'TIMER_ACTIONS.START' | translate }}</button>
    <button md-button (click)="stopTimer()">{{ 'TIMER_ACTIONS.STOP' | translate }}</button>
    <button md-button (click)="resetTimer()">{{ 'TIMER_ACTIONS.RESET' | translate }}</button>
  </md-card-actions>
  <md-card-footer>
    <md-progress-bar mode="determinate" [value]="_remainingPercentage"></md-progress-bar>
  </md-card-footer>
</md-card>
