<md-card class="tomatito-card">
  <md-card-content>
    <div class="timer">
      {{ _remaining }}
    </div>
  </md-card-content>
  <md-card-actions class="center">
    <button md-button class="center" (click)="startTimer()">Start</button>
    <button md-button (click)="stopTimer()">Stop</button>
    <button md-button (click)="resetTimer()">Reset</button>
  </md-card-actions>
  <md-card-footer>
    <md-progress-bar mode="determinate" [value]="_remainingPercentage"></md-progress-bar>
  </md-card-footer>
</md-card>
