/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

body {
  margin: 0;
  background-color: #F5F5F5;
}

$cardSize: 740px;

.tomatito-card {
  max-width: $cardSize;
  margin: 0 auto;

  @media (max-width: 800px) {
    margin: 0 .5rem 0 .5rem;
  }
}



.card-margin {
  margin-top: 2rem;
}

.space-filler {
  flex: 1 1 auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.md-tab-list {
  align-items: center;
  justify-content: center;
}
