<md-tab-group [dynamicHeight]="true">
  <md-tab label="Pomodoro">
    <div class="tab-content" style="margin: 2rem">
      <tomatito-timer [minutesToCount]="25"></tomatito-timer>
    </div>
  </md-tab>

  <md-tab label="Mini break">
    <div class="tab-content" style="margin: 2rem">
      <tomatito-timer [minutesToCount]="5"></tomatito-timer>
    </div>
  </md-tab>

  <md-tab label="Long break">
    <div class="tab-content" style="margin: 2rem">
      <tomatito-timer [minutesToCount]="10"></tomatito-timer>
    </div>
  </md-tab>
</md-tab-group>
