<md-tab-group [dynamicHeight]="true">
  <md-tab label="Pomodoro">
    <div class="tab-content" style="margin: 2rem">
      <tomatito-timer [minutesLength]="_clockTypes.pomodoro"></tomatito-timer>
    </div>
  </md-tab>

  <md-tab label="Mini break">
    <div class="tab-content" style="margin: 2rem">
      <tomatito-timer [minutesLength]="_clockTypes.miniBreak"></tomatito-timer>
    </div>
  </md-tab>

  <md-tab label="Long break">
    <div class="tab-content" style="margin: 2rem">
      <tomatito-timer [minutesLength]="_clockTypes.longBreak"></tomatito-timer>
    </div>
  </md-tab>
</md-tab-group>
